{
  "code": 80,
  "tabWidth": 2,
  "indent": ["error", "tab"],
  "semi-style": ["error", "last"],
  "quotes": [2, "single", {"avoidEscape": true}],
  "comma-dangle": [
    "error",
    {
      "arrays": "always",
      "objects": "always",
      "imports": "always",
      "exports": "always",
      "functions": "always"
    }
  ],
  "space-in-brackets": ["error", "always"]
}
